<!-- Top Header -->
<div
    class="top-header-area"
    [ngClass]="{'d-none': router.url === '/index-5'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <p>Free Delivery Over $35 to Most of USA*</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="top-header-info">
                    <div class="d-flex align-items-center justify-content-end">
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                        <div class="language-switcher">
                            <select class="form-select">
                                <option selected>English</option>
                                <option>Spanish</option>
                                <option>Chinese</option>
                                <option>Russian</option>
                                <option>Turkish</option>
                            </select>
                        </div>
                        <div class="currency-switcher">
                            <select class="form-select">
                                <option selected>$USD</option>
                                <option>€EUR</option>
                                <option>$FJD</option>
                                <option>£FKP</option>
                                <option>£GBP</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navbar -->
<div
    class="navbar-area"
    ngStickyNav
    stickyClass="sticky-box-shadow"
    ngStickyNav
    [ngClass]="{'bg-f9f9f9' : router.url === '/index-5'}"
>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied">
            <a class="navbar-brand" routerLink="/index-5">AFRICA MINERALS</a>
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a routerLink="/index-5" class="dropdown-toggle nav-link">HOME</a>
                    </li>
                    <li class="nav-item"><a routerLink="/shop-full-width-1"  class="dropdown-toggle nav-link">SHOP</a>
                    <li class="nav-item"><a routerLink="/about"  class="dropdown-toggle nav-link">ABOUT US</a>
                    </li>

                    <li class="nav-item"><a routerLink="/contact" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" class="nav-link">CONTACT</a></li>
                </ul>
                <ul class="navbar-nav for-responsive">
                    <li class="nav-item"><a routerLink="/index-5"  class="dropdown-toggle nav-link">HOME</a>
                    </li>
                    <li class="nav-item"><a routerLink="/shop-full-width-1"  class="dropdown-toggle nav-link">SHOP</a>
                    <li class="nav-item"><a routerLink="/about" class="dropdown-toggle nav-link">ABOUT US</a>
                    </li>
                    <li class="nav-item"><a routerLink="/contact" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()" class="nav-link">CONTACT</a></li>
                </ul>
                <div class="others-option d-flex align-items-center">
                    <div class="option-item">
                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="Search for products">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <div class="option-item">
                        <a routerLink="/profile-authentication" class="user-account"><i class="far fa-user"></i></a>
                    </div>
                    <div class="option-item">
                        <a routerLink="/wishlist" class="wishlist-btn">
                            <i class="far fa-heart"></i>
                            <span>03</span>
                        </a>
                    </div>
                    <div class="option-item">
                        <a routerLink="/cart" class="cart-btn">
                            <i class="fas fa-shopping-cart"></i>
                            <span>{{ cartProducts.length }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
