<div
class="facility-area-with-color pt-100 pb-70 d-none"
    [ngClass]="{'d-none': router.url === '/index-5'}"
>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-4 col-6">
            <div class="single-facility-card">
                <div class="icon bg-f5f5f5">
                    <i class="fas fa-truck"></i>
                </div>
                <h3>Worldwide Delivery</h3>
                <span>What you want delivered to where you want</span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4 col-6">
            <div class="single-facility-card">
                <div class="icon bg-f5f5f5">
                    <i class="far fa-credit-card"></i>
                </div>
                <h3>Secure Payment</h3>
                <span>100% secure payment</span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4 col-6">
            <div class="single-facility-card">
                <div class="icon bg-f5f5f5">
                    <i class="fas fa-headphones-alt"></i>
                </div>
                <h3>24/7 Support</h3>
                <span>Ready support</span>
            </div>
        </div>
    </div>
</div>
</div>

<!-- This section for Home Demo - 5 -->
<div
    class="facility-area-with-color pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-4 col-6">
                <div class="single-facility-card">
                    <div class="icon bg-f5f5f5">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h3>Worldwide Delivery</h3>
                    <span>What you want delivered to where you want</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4 col-6">
                <div class="single-facility-card">
                    <div class="icon bg-f5f5f5">
                        <i class="far fa-credit-card"></i>
                    </div>
                    <h3>Secure Payment</h3>
                    <span>100% secure payment</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4 col-6">
                <div class="single-facility-card">
                    <div class="icon bg-f5f5f5">
                        <i class="fas fa-headphones-alt"></i>
                    </div>
                    <h3>24/7 Support</h3>
                    <span>Ready support</span>
                </div>
            </div>
        </div>
    </div>
</div>
