<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <h2>About Us</h2>
            </div>
            <div class="col-lg-6 col-md-5">
                <ul class="page-title-content">
                    <li><a routerLink="/index-5">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<div class="about-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="about-content">
                    <h2>About <strong>Africa Minerals</strong> Store</h2>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="about-text">
                    <p><strong>A haven where the Earth's timeless beauty converges with human ingenuity. Founded with a passion for African minerals, we've embarked on a journey to bring you the finest treasures from the heart of the continent. Our story is one of appreciation, discovery, and craftsmanship, all interwoven with the spirit of exploration.</strong></p>
                    <p> We envision a world where the natural wonders of Africa find their place in homes, collections, and hearts around the globe. With an unwavering commitment to quality, authenticity, and innovation, we're on a mission to present these mineral marvels in ways that ignite your imagination and captivate your senses.</p>
                    <p>Every mineral we offer is a masterpiece of nature, and we've taken it upon ourselves to enhance their allure. Our team of skilled artisans and craftsmen work tirelessly to transform raw minerals into polished wonders, each piece radiating the essence of Africa's vast landscapes and rich heritage. From intricate designs to breathtaking specimen pieces, our creations are an embodiment of nature's artistry and our dedication to preserving it.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="about-image">
                    <img src="assets/img/minerals/about-minerals-bg.png" alt="about-image">
                </div>
            </div>
        </div>
        <app-funfacts></app-funfacts>
    </div>
</div>

<app-team></app-team>

<div class="facility-area pb-100">
    <app-facility></app-facility>
</div>

<app-feedback></app-feedback>

<div class="partner-area ptb-100">
    <app-partner></app-partner>
</div>

<app-subscribe></app-subscribe>
