<div
    class="subscribe-area pb-100"
    [ngClass]="{'d-none': router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-7' || router.url === '/index-8'}"
>
    <div class="container">
        <div class="crafts-subscribe-inner-box">
            <div class="content">
                <h2>Stay Connected with Earth's Treasures!</h2>
                <p>Be the first to know about our latest arrivals, exclusive offers, and exciting updates by subscribing to our newsletter.
                    Join our community of mineral enthusiasts and discover the magic of African minerals right in your inbox.
                    Whether you're a seasoned collector or just beginning your journey into the world of minerals, our newsletter will bring you closer to the wonders of the Earth</p>
                <form class="newsletter-form">
                    <input type="email" class="input-newsletter" placeholder="Enter your email address" required>
                    <button type="submit"><i class="far fa-paper-plane"></i>SUBSCRIBE NOW</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--This section for Home Demo - 5 -->
<div
    class="crafts-subscribe-area pb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="container">
        <div
            class="crafts-subscribe-inner-box"
            [ngClass]="{'with-bg-two': router.url === '/index-4'}"
        >
            <div class="content">
                <h2>Stay Connected with Earth's Treasures!

                </h2>
                <p>Be the first to know about our latest arrivals, exclusive offers, and exciting updates by subscribing to our newsletter.
                    Join our community of mineral enthusiasts and discover the magic of African minerals right in your inbox.
                    Whether you're a seasoned collector or just beginning your journey into the world of minerals, our newsletter will bring you closer to the wonders of the Earth</p>
                <form class="newsletter-form">
                    <input type="email" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required autocomplete="off">
                    <button type="submit"><i class="far fa-paper-plane"></i>SUBSCRIBE NOW</button>
                </form>
            </div>
        </div>
    </div>
</div>
