<div class="grocery-banner-area">
    <div class="container-fluid">
        <div class="grocery-banner-content">
            <span>WELCOME TO AFRICA MINERALS</span>
            <h1>Africa's Largest Wholesale Mineral Sale, In <b>Bulk</b> or <b>Kilograms</b></h1>
            <p>Crafting Elegance from Earth's Treasures: Premium African Minerals.</p>
            <ul class="banner-btn">
                <li>
                    <a routerLink="/shop-full-width-1" class="default-btn-with-border-radius">Shop Now</a>
                </li>
                <li>
                    <a routerLink="/contact" class="default-btn-with-border-radius white-color">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="grocery-banner-image">
        <img src="assets/img/minerals/malachite-backround.webp" alt="image">
    </div>
</div>
