<div
    class="skin-care-collection-area pt-100 d-none"
    [ngClass]="{'d-block': router.url === '/'  || router.url === '/index-5'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="skin-care-collection-card">
                    <img src="assets/img/minerals/polished.jpeg" alt="collection-image">
                    <div class="content">
                        <span>57 Items</span>
                        <h3>Polished Minerals</h3>
                        <a [routerLink]="['/shop-left-sidebar-1', 1]" class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a [routerLink]="['/shop-left-sidebar-1', 1]" class="link-btn"></a>
                </div>
                <div class="skin-care-collection-card with-padding-right">
                    <img src="assets/img/minerals/specimen.jpg" alt="collection-image">
                    <div class="content">
                        <span>83 Items</span>
                        <h3>Specimen Minerals</h3>
                        <a [routerLink]="['/shop-left-sidebar-1', 2]"class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a [routerLink]="['/shop-left-sidebar-1', 2]" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="skin-care-collection-card with-padding-left">
                    <img src="assets/img/minerals/gold-pyrite.jpeg" alt="collection-image">
                    <div class="content">
                        <span>55 Items</span>
                        <h3>Raw Minerals</h3>
                        <a [routerLink]="['/shop-left-sidebar-1', 3]" class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a [routerLink]="['/shop-left-sidebar-1', 3]" class="link-btn"></a>
                </div>
                <div class="skin-care-collection-card">
                    <img src="assets/img/minerals/designs.webp" alt="collection-image">
                    <div class="content">
                        <span>100 Items</span>
                        <h3>Designed Creations</h3>
                        <a [routerLink]="['/shop-left-sidebar-1', 4]" class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a [routerLink]="['/shop-left-sidebar-1', 4]" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>
