<!-- This section for Home Demo - 5 -->
<div
    class="crafts-arrival-products-area pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/'  || router.url === '/index-5'}"
>
    <div class="container">
        <div class="section-title style-with-image">
            <img src="assets/img/minerals/emerald-icon.png" alt="image" style="width:50px; width:50px;">
            <h2>New Arrival Products</h2>
            <p>Introducing Nature's Latest Creations: Unveiling Our Newest African Mineral Arrivals. Discover the freshest additions to our collection, each a testament to the Earth's ever-evolving artistry.
                From polished marvels that exude elegance to raw treasures straight from the depths of the continent, our new arrivals embody the essence of discovery and fascination. Immerse yourself in a world of endless possibilities as you explore these pristine pieces,
                handpicked to ignite your passion for the extraordinary. Embrace the allure of the new and experience the thrill of uncovering nature's most recent masterpieces.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6" *ngFor="let content of products">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a [routerLink]="['/products', content.slug]" class="d-block">
                            <img [src]="content.frontImg.url" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a [routerLink]="['/products', content.slug]">{{ content.title }}</a></h3>
                        <div class="price">{{ content.currencyType }}{{ content.currentPrice }}/kg</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
