<div
    class="crafts-featured-products-area ptb-100"
    [ngClass]="{'d-none': router.url === '/index-5'}"
>
    <div class="container">
        <div class="section-title style-with-image">
            <img src="assets/img/more-home/section-title.png" alt="image">
            <h2>Our Featured Products</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
        </div>
        <div class="crafts-featured-products-slides">
            <owl-carousel-o [options]="productsSlides">
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-9.jpg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Sitting cushion</a>
                            </h3>
                            <div class="price">$199.00</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-10.jpg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Pink flower</a>
                            </h3>
                            <div class="price">$199.00</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-11.jpg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Tree pot</a>
                            </h3>
                            <div class="price">$199.00</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-12.jpg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Cushion sofa</a>
                            </h3>
                            <div class="price">$199.00</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-9.jpg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Sitting cushion</a>
                            </h3>
                            <div class="price">$199.00</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-10.jpg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Pink flower</a>
                            </h3>
                            <div class="price">$199.00</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-11.jpg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Tree pot</a>
                            </h3>
                            <div class="price">$199.00</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-12.jpg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Cushion sofa</a>
                            </h3>
                            <div class="price">$199.00</div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 5 -->
<div
    class="crafts-featured-products-area pb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="container">
        <div class="section-title style-with-image">
            <img src="assets/img/minerals/emerald-icon.png" alt="image" style="width:50px; width:50px;">
            <h2>Our Featured Products</h2>
            <p>Immerse yourself in a world where raw beauty meets refined artistry. Our curated selection of African minerals offers an unparalleled journey through nature's wonders,
                transformed into captivating works of art. From the mesmerizing gleam of polished malachite to the untamed allure of raw amethyst, each piece we offer tells a story millions of years in the making.
                Explore our collection to discover the harmony of authenticity and innovation – where expert craftsmanship elevates Earth's treasures into cherished marvels. Whether you're drawn to the intricate designs adorning our polished minerals or captivated by the raw energy of specimen pieces,
                our commitment to quality ensures that every mineral you acquire is a testament to both nature's grandeur and human ingenuity.</p>
        </div>
        <div class="crafts-featured-products-slides">
            <owl-carousel-o [options]="productsSlides">
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/minerals/rhodochrosite.jpeg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Rhodochrosite</a>
                            </h3>
                            <div class="price">$199.00/kg</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/minerals/tanzanite.jpg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Tanzanite</a>
                            </h3>
                            <div class="price">$199.00/kg</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/minerals/cassiterite.jpeg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Cassiterite</a>
                            </h3>
                            <div class="price">$199.00/kg</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/minerals/coltan.webp" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Coltan (Columbite-Tantalite)</a>
                            </h3>
                            <div class="price">$199.00/kg</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/minerals/malachite.webp" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Malachite</a>
                            </h3>
                            <div class="price">$199.00/kg</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/minerals/pyrope.jpeg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Pyrope Garnet</a>
                            </h3>
                            <div class="price">$199.00/kg</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="crafts-featured-products-card">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/minerals/beryl.jpg" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a routerLink="/products-details">Beryl</a>
                            </h3>
                            <div class="price">$199.00/kg</div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

