<!-- This section for Home Demo - 5 -->
<div
    class="crafts-featured-products-area pb-100 d-none"
    [ngClass]="{'d-block': router.url === '/'  || router.url === '/index-5'}"
>
    <div class="container">
        <div class="section-title style-with-image">
            <img src="assets/img/minerals/emerald-icon.png" alt="image" style="width:50px; width:50px;">
            <h2>Our Featured Products</h2>
            <p>Immerse yourself in a world where raw beauty meets refined artistry. Our curated selection of African minerals offers an unparalleled journey through nature's wonders,
                transformed into captivating works of art. From the mesmerizing gleam of polished malachite to the untamed allure of raw amethyst, each piece we offer tells a story millions of years in the making.
                Explore our collection to discover the harmony of authenticity and innovation – where expert craftsmanship elevates Earth's treasures into cherished marvels. Whether you're drawn to the intricate designs adorning our polished minerals or captivated by the raw energy of specimen pieces,
                our commitment to quality ensures that every mineral you acquire is a testament to both nature's grandeur and human ingenuity.</p>
        </div>
        <div class="crafts-featured-products-slides">
            <owl-carousel-o [options]="productsSlides">
                <ng-template carouselSlide *ngFor="let content of products">
                    <div class="crafts-featured-products-card">
                        <a [routerLink]="['/products', content.slug]" class="d-block">
                            <img [src]="content.frontImg.url" alt="products-image">
                        </a>
                        <div class="products-content">
                            <h3>
                                <a [routerLink]="['/products', content.slug]">{{ content.title }}</a>
                            </h3>
                            <div class="price">{{ content.currencyType }}{{ content.currentPrice }}/kg</div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

