<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <h2>Shop By Category</h2>
            </div>
            <div class="col-lg-6 col-md-5">
                <ul class="page-title-content">
                    <li><a routerLink="/index-5">Home</a></li>
                    <li>Shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Products -->
<div class="products-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <div class="widget widget_search">
                        <form class="search-form">
                            <input type="search" class="search-field" placeholder="Search...">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget-title"><span>Categories</span></h3>
                        <ul>
                            <li *ngFor="let content of categories">
                                <a [routerLink]="['/shop-left-sidebar-1', content.category]">{{content.name}}</a>
                        </ul>
                    </div>
                    <div class="widget widget_price_filter">
                        <h3 class="widget-title"><span>Filter by Price</span></h3>
                        <div class="collection_filter_by_price">
                            <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                        </div>
                    </div>
                    <div class="widget widget_follow_us">
                        <h3 class="widget-title"><span>Follow Us</span></h3>
                        <ul>
                            <li><a href="#" target="_blank">Facebook</a></li>
                            <li><a href="#" target="_blank">Twitter</a></li>
                            <li><a href="#" target="_blank">Instagram</a></li>
                            <li><a href="#" target="_blank">Pinterest</a></li>
                            <li><a href="#" target="_blank">Linkedin</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title"><span>Tags</span></h3>
                        <div class="tagcloud">
                            <a routerLink="/shop-left-sidebar-1">Advertisment</a>
                            <a routerLink="/shop-left-sidebar-1">Business</a>
                            <a routerLink="/shop-left-sidebar-1">Life</a>
                            <a routerLink="/shop-left-sidebar-1">Lifestyle</a>
                            <a routerLink="/shop-left-sidebar-1">Fashion</a>
                            <a routerLink="/shop-left-sidebar-1">Ads</a>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="vaxim-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 result-count">
                        <div class="d-flex align-items-center">
                            <p>We found <span class="count">12</span> products available for you</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 ordering">
                        <div class="select-box">
                            <label>Sort By:</label>
                            <select>
                                <option>Default</option>
                                <option>Popularity</option>
                                <option>Latest</option>
                                <option>Price: low to high</option>
                                <option>Price: high to low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let content of products">
                        <div class="single-products-box">
                            <a [routerLink]="['/products', content.slug]" class="d-block">
                                <img [src]="content.frontImg.url" alt="products-image">
                            </a>
                            <ul class="products-button">
                                <li>
                                    <button type="button" (click)="
                                        triggerModal(modalData);
                                        addToModal(content)
                                    ">
                                        <i class="fas fa-search-plus"></i>
                                        <span class="tooltip-label">Quick View</span>
                                    </button>
                                </li>
                                <li>
                                    <a routerLink="/compare">
                                        <i class="fas fa-exchange-alt"></i>
                                        <span class="tooltip-label">Compare</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/wishlist">
                                        <i class="far fa-heart"></i>
                                        <span class="tooltip-label">Add to Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <span class="sale">SALE</span>
                            <div class="content">
                                <h3><a [routerLink]="['/products', content.slug]"> {{ content.title }}</a></h3>
                                <button class="add-to-cart-btn" (click)="addToCart(content)">Add to cart <i
                                        class="fas fa-cart-plus"></i></button>
                                <div class="price">
                                    <span class="new-price"> {{ content.currencyType }}{{ content.currentPrice }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pagination-area">
                            <div class="nav-links">
                                <a routerLink="/shop-left-sidebar-1" class="previous page-numbers" title="Next Page"><i
                                        class="fas fa-arrow-left"></i></a>
                                <span class="page-numbers current">1</span>
                                <a routerLink="/shop-left-sidebar-1" class="page-numbers">2</a>
                                <a routerLink="/shop-left-sidebar-1" class="page-numbers">3</a>
                                <a routerLink="/shop-left-sidebar-1" class="page-numbers">4</a>
                                <a routerLink="/shop-left-sidebar-1" class="next page-numbers" title="Next Page"><i
                                        class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>

<ng-template #modalData let-modal>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fas fa-times"></i>
    </button>
    <div class="modal-body" *ngIf="modalProduct">
        <div class="row align-items-center"
            *ngFor="let product of modalProduct | paginate: { itemsPerPage: 9, currentPage: shopGrid };">
            <div class="col-lg-6 col-md-6">
                <div class="image">
                    <img [src]="product.frontImg.url" alt="image" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="content">
                    <h3>{{ product.title }}</h3>
                    <div class="price">
                        <span class="new-price">
                            {{ product.currencyType }}{{ product.currentPrice }}
                        </span>
                        <span class="old-price" *ngIf="product.oldPrice">
                            {{ product.currencyType }}{{ product.oldPrice }}
                        </span>
                    </div>
                    <p>{{ product.shortDesc }}</p>
                    <ul class="products-info">
                        <li>
                            <span>Vendor:</span>
                            <a routerLink="/shop-full-width-1">{{ product.vendor }}</a>
                        </li>
                        <li *ngIf="product.inStock">
                            <span>Availability:</span>
                            In stock
                        </li>
                        <li>
                            <span>Categories:</span>
                            <a routerLink="/shop-full-width-1">Hoodie</a>
                        </li>
                    </ul>
                    <div class="products-add-to-cart">
                        <button (click)="addToCart(product)" type="submit" class="default-btn">
                            <i class="fas fa-shopping-bag"></i> ADD TO CART
                        </button>
                        <a routerLink="/wishlist" title="Add to Wishlist" class="add-to-wishlist-btn"><i
                                class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
